    <!-- About Section Start -->
    <section id="about-top" class="section-padding">
      <div class="container">
      {% include socialicons.html %}

        <div class="row">
          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="img-thumb wow fadeInLeft" data-wow-delay="0.3s"><BR>
              <img class="img-fluid" src="assets/img/about/jtk1.png" alt="">
            </div>
          </div> 
          <div class="col-lg-6 col-md-12 col-sm-12 col-xs-12">
            <div class="profile-wrapper wow fadeInRight" data-wow-delay="0.3s">
              <div class="about-profile">
              <p class="para">I am an Associate Professor in the <a href="https://www.clemson.edu/cecas/departments/computing/index.html"><b>School of Computing</b></a> at <a href="https://www.clemson.edu/"><b>Clemson University</b></a> located in Charleston, South Carolina (<a href="https://www.clemson.edu/innovation-campuses/charleston/index.html"><b>Charleston Innovation Campus</b></a>). I work in the <a href="https://computing.clemson.edu/vcl/"><b>Visual Computing</b></a> research division which focuses on the acquisition, processing, and synthesis of visual information. I teach in the <a href="https://www.cs.clemson.edu/dpa/"><b>Digital Production Arts</b></a> program, where I work with students to explore cutting-edge technical and artistic components of visual effects production. I am the Director of the <a href="https://sdl.eecs.ucf.edu/"><b>PIXEL Laboratory</b></a>.</p><BR>

              <p class="para">I'm excited to work with highly motivated students! Please <a href="workingwithme.html"><b>read this</b></a> if you are interested in joining my group.</p>
              </div>

              <div class="about-profile">
                <ul class="admin-profile">
                  <li><span class="pro-title"> Associate Professor </span></li>
                  <li><span class="pro-title"> Clemson University </span></li>
                  <li><span class="pro-title"> School of Computing (Visual Computing)</span> </li>
                  <li><span class="pro-title"> <u>Office</u>: 312 Zucker </span></li>
                  <li><span class="pro-title"> <u>Address</u>: 250 Supply Street, N., Charleston, SC 29405</span></li>
                  <li><span class="pro-title"> <u>Office Phone</u>: 864.656.3444 </span></li>
                  <li><span class="pro-title"> <u>Email</u>: jkider [at] clemson.edu </span></li>
                  <li><span class="pro-title"> <a href="calendar.html">My Calendar</a> </span></li>
                </ul>
              </div>
            </div>
          </div>   
        </div>
      </div>
    </section>
    <!-- About Section End -->
