    <!-- Contact Section Start -->
    <section id="Contact" class="section-padding">      
      <div class="contact-form">
        <div class="container">
          <div class="row contact-form-area wow fadeInUp" data-wow-delay="0.4s">          
            
            <div class="col-md-12 col-lg-12 col-sm-12">
              <div class="footer-right-area wow fadeIn">
                <h2>Contact Address</h2>
                I am an Associate Professor at the Institute for Simulation and Training (IST) at the University of Central Florida in Orlando, Florida. IST is located in the Partnership II building in Research Park.
                <div class="footer-right-contact">
                  <div class="single-contact">
                    <div class="contact-icon">
                      <i class="fa fa-map-marker"></i>
                    </div>
                    <p>Dr. Joseph T. Kider Jr.</p>
                    <p>IST, School of Modeling, Simulation, and Training</p>
                    <p>Office 0141B</p>
                    <p>3100 Technology Pkwy, Orlando, FL 32826</p>
                    <p>Orlando, FL 32826</p>
                  </div>
                  <div class="single-contact">
                    <div class="contact-icon">
                      <i class="fa fa-envelope"></i>
                    </div>
                    <p><a href="">jkider [at] ist.ucf.edu</a></p>
                    <p><a href="">Joseph.Kider [at] ucf.edu</a></p>
                  </div>
                  <div class="single-contact">
                    <div class="contact-icon">
                      <i class="fa fa-phone"></i>
                    </div>
                    <p><a href="#">+  407.882.1353</a></p>
                  </div>
                </div>
              </div>
            </div>
            <div class="col-md-12">
            <BR>
            <object style="border:0; height: 450px; width: 100%;" data="https://www.google.com/maps/embed?pb=!1m14!1m8!1m3!1d14014.01493724887!2d-81.20588264766852!3d28.584661288851677!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xae92816652695e93!2sInstitute%20For%20Simulation%20%26%20Training!5e0!3m2!1sen!2sus!4v1623874298667!5m2!1sen!2sus" ></object>
            </div>
          </div>
        </div>
      </div>   
    </section>
    <!-- Contact Section End -->