    <!-- Header Area wrapper Starts -->
<header id="header-wrap">
<!-- Navbar Start -->
<nav class="navbar navbar-expand-lg navbar-light" data-toggle="affix">
        <div class="menucontainer container">
            <a class="navbar-brand" href="http://josephkider.com">Joseph Kider<br>
            <div class="nav-lower-brand">
                Code &amp; SENSEable Design
            </div>
            </a> 
            <button aria-controls="navbarsExampleDefault" aria-expanded="false" aria-label="Toggle navigation" class="navbar-toggler custom-toggler " data-target="#navbarsExampleDefault" data-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse circleBehind" id="navbarsExampleDefault">
            <ul class="navbar-nav ml-auto">
                {% for page in site.pages %} {% if page.title %}
                <li class="nav-item"><a class="nav-link" href="#{{ page.title }}">{{ page.title }}</a></li>
                {% endif %} {% endfor %}
            </ul>
            </div>
        </div>
</nav>


</header>
<!-- Header Area wrapper End -->