            <div class="col-xs-6 col-md-4 news custom_about">
                <b>News:</b><hr>
                <p>2017.10.01: Our <a href="https://gch17.tugraz.at/">EUROGRAPHICS GCH</a> paper <a href="https://diglib.eg.org/handle/10.2312/gch20171289">"Accurate Soil and Mudbrick BRDF Models...﻿"</a>, has been accepted!</p>
                <hr>
                <p>2017.09.01: I'm teaching a seminar in "Building Energy Simulation" (Fall 2017).</p>
                <hr>
                <p>2017.01.10: I'm teaching a seminar in "Simulation Techniques"  (Spring 2017).</p>
                <hr>
                <p>2016.08.15: I've started as an Assistant Professor at the <a href="http://www.ist.ucf.edu/">Institute for Simulation and Training</a> at the <a href="http://www.ucf.edu/">UCF!.</p>
                <hr>
                <p><a href="">Older News...</a></p>
            </div>





