        <!-- Publications Section -->
    <section id="publications" class="section-padding">
      <!-- Container Starts -->
      <div class="container">        
        <h2 class="section-title wow flipInX" data-wow-delay="0.2s">Publications</h2>
        <div class="row">          
          <div class="col-md-10">


            {% for item in site.data.publications reversed %}

            {% if item.link == "" %}
               <b>{{ item.title }}</b><br>
            {% else %}
               <b><a href="{{item.link}}">{{ item.title }}</a></b><br>
            {% endif %}
            {{ item.authors }}<br>
            {{ item.conference }}, {{ item.year }} <br>
            <br>

            {% endfor %}


          </div>
        </div>
      </div>
      <!-- Container Ends -->
    </section>