    <!-- Portfolio Section -->
    <section id="Research" class="section-padding">
      <!-- Container Starts -->
      <div class="container">        
        <h2 class="section-title wow flipInX" >My Research and Creative Works</h2>
        <div class="row">          
          <div class="col-md-12">
            <!-- Portfolio Controller/Buttons -->
     <b>NEWS:</b> In 2021, I have been awarded a UCF <a href="https://facultyexcellence.ucf.edu/award/research-incentive-awards/"><b>Research Incentive Award (RIA)</b></a> and UCF College of Graduate Studies <a href="https://facultyexcellence.ucf.edu/award/excellence-in-research/"><b>Excellence in Research Award</b></a> for my interdisciplinary research activity.<BR><BR>

            <div class="controls text-center">
              <a class="filter active btn btn-common" data-filter="all">
                All 
              </a>
              <a class="filter btn btn-common" data-filter=".BuiltEnvironment">
                Built Environment 
              </a>
              <a class="filter btn btn-common" data-filter=".XR">
                XR
              </a>
              <a class="filter btn btn-common" data-filter=".DT">
                BIM - Digital Twins 
              </a>
              <a class="filter btn btn-common" data-filter=".CulturalHeritage">
                Cultural Heritage 
              </a>
            </div>
            <!-- Portfolio Controller/Buttons Ends-->
          </div>

          <!-- Portfolio Recent Projects -->
          <div id="portfolio" class="row  " data-wow-delay="0.4s">
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix XR CulturalHeritage">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="assets/img/gallery/i1.png" alt="" /> 
                  <div align="center"><b>NEH: Documenting Cultural Heritage</b></div>
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="assets/img/gallery/i1.png">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="https://sciences.ucf.edu/anthropology/datch/">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix BuiltEnvironment">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="assets/img/gallery/i2.png" alt=""/> 
                  <div align="center"><b>Capturing Spectral Skylight</b></div>
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="assets/img/gallery/i2.png">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="https://github.com/spectralskylight/skycapturedevice-docs">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix BuiltEnvironment DT">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="assets/img/gallery/i3.png" alt=""/> 
                  <div align="center"><b>LiDAR Scanning Digital Twins</b></div>
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="assets/img/gallery/i3.png">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="https://chronopoints.eecs.ucf.edu/potree2/biology.html">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix XR BuiltEnvironment DT">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="assets/img/gallery/i4.png" alt="" /> 
                  <div align="center"><b>NSF: XR-BIM - Retrofitting</b></div>
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="assets/img/gallery/i4.png">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="https://www.nsf.gov/awardsearch/showAward?AWD_ID=1917728&HistoricalAwards=false">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix BuiltEnvironment DT">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="assets/img/gallery/i5.png" alt="" /> 
                  <div align="center"><b>AFRL: advanced infrared simulation</b></div>
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="assets/img/gallery/i5.png">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="https://www.sbir.gov/sbirsearch/detail/1586739">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix BuiltEnvironment DT">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="assets/img/gallery/i6.png" alt="" /> 
                  <div align="center"><b>LiDAR Scanning for Retrofitting</b></div>
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="assets/img/gallery/i6.png">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="https://chronopoints.eecs.ucf.edu/potree2/partnership4.html">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix BuiltEnvironment">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="assets/img/gallery/i7.png" alt="" /> 
                  <div align="center"><b>Collaborative Daylighting Design</b></div>
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="assets/img/gallery/i7.png">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="https://www.sciencedirect.com/science/article/pii/S0378778818328421">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix BuiltEnvironment">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="assets/img/gallery/i8.png" alt="" /> 
                  <div align="center"><b>Simulating Spectral Skylight</b></div>
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="assets/img/gallery/i8.png">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="https://spectralskylight.github.io/">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix BuiltEnvironment">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="assets/img/gallery/i9.png" alt="" /> 
                  <div align="center"><b>Multi-modal Motion Capture</b></div>
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="assets/img/gallery/i9.png">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="https://fling.seas.upenn.edu/~mocap/cgi-bin/i.php">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix BuiltEnvironment">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="assets/img/gallery/i10.png" alt="" />
                  <div align="center"><b>Aging and Weathering Simulation</b></div>
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="assets/img/gallery/i10.png">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="https://repository.upenn.edu/dissertations/AAI3542821/">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix CulturalHeritage">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="assets/img/gallery/i11.png" alt="" /> 
                  <div align="center"><b>Soil and Mudbrick BRDF Models</b></div>
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="assets/img/gallery/i11.png">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="https://diglib.eg.org/handle/10.2312/gch20171289">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                  </div>
                </div>               
              </div>
            </div>
            <div class="col-sm-6 col-md-4 col-lg-4 col-xl-4 mix print XR BuiltEnvironment">
              <div class="portfolio-item">
                <div class="shot-item">
                  <img src="assets/img/gallery/i12.png" alt=""/>
                  <div align="center"><b>Kinetic building facade systems</b></div>
                  <div class="overlay">
                    <div class="icons">
                      <a class="lightbox preview" href="assets/img/gallery/i12.png">
                        <i class="icon-eye"></i>
                      </a>
                      <a class="link" href="https://www.josephkider.com/data/publications/2018-AdvancedBuildSkins-MoodSwing.pdf">
                        <i class="icon-link"></i>
                      </a>
                    </div>
                  </div>
                </div>               
              </div>
            </div>

          </div>
        </div>
      </div></div>
      <!-- Container Ends -->
    </section>
    <!-- Portfolio Section Ends --> 