<div class="nopad">
<div id="utubetop_pre"></div>
<div id="twittertop_pre"></div>
<div id="linkedintop_pre"></div>
<div id="instagramtop_pre"></div>
<div id="githubtop_pre"></div>
<div id="facebooktop_pre"></div>
<div class="col-xs-12 col-sm-12 col-md-12 mx-auto">
    <a href="https://www.facebook.com/kiderj"><div class="topsocialicons facebooktop"></div></a>
    <a href="https://github.com/hepcatjk?tab=repositories"><div class="topsocialicons githubtop"></div></a>
    <a href="https://www.linkedin.com/in/kiderj"><div class="topsocialicons linkedintop"></div></a>
     <a href="https://twitter.com/kiderj"><div class="topsocialicons twittertop"></div></a>
     <a href="https://www.youtube.com/user/thekiderj"><div class="topsocialicons utubetop"></div></a>
    <br>
</div>
</div>