<!-- teaching Section -->
<section id="Teaching" class="section-padding">
  <!-- Container Starts -->
  <div class="container">        
    <h2 class="section-title wow flipInX" data-wow-delay="0.1s">Teaching and Educational Activities</h2>
    <div class="row">          
      <div class="col-md-12">

     <b>NEWS:</b> In 2021, I have been awarded a UCF <a href="https://facultyexcellence.ucf.edu/award/teaching-incentive-program/"><b>Teaching Incentive Program Award (TIP)</b></a> and UCF College of Graduate Studies <a href="https://facultyexcellence.ucf.edu/award/excellence-in-graduate-teaching/"><b>Excellence in Graduate Teaching Award</b></a> for my teaching productivity and excellence in graduate teaching.<BR><BR>

     <h5><img src="assets/img/university/ucf.svg" height="50">&nbsp;&nbsp; <B><u>Courses taught at The University of Central Florida</u></B></h5>
     I have taught 5 different classes at UCF, developing 3 courses.<BR><BR>
     
      <b>IDC6700 - Interdisciplinary Approach to Data Visualization</b><BR>
      A hands-on, interdisciplinary perspective on basic principles and fundamentals of visualizing statistical information.<BR>
      Topics include: effective visualizations, perception, representation, and general principles.<BR>
      Summer 2021.<BR>
      <BR>

      <b>IDS 6145: Simulation Techniques</b><BR>
      SIMTECH provides a broad survey of fundamental techniques for three different categories of simulation.<BR>
      Topics include: effective modeling, and designing discrete-event, continuous-based, and agent-based simulations.<BR>
      Fall 2021, Fall 2020, Fall 2019, Fall 2018, Spring 2018, Spring 2017.<BR>
      <BR>

      <b>IDS 6938: Mixed Reality for Modeling and Simulation (Special Topics Seminar)</b><BR>
      A hands-on, interdisciplinary perspective on basic principles and fundamentals of Virtual Reality and Augmented Reality. <BR>
      Topics include: color science, perception, cognition, HCI, computer graphics, and AR/VR concepts.<BR>
      Spring 2020, Spring 2019.<BR>
      <BR>

      <b>IDS 6938: Building Performance Simulation (Special Topics Seminar)</b><BR>
      Basic and advanced building performance simulation methods and their underlying principles that impact energy, thermal, and visual comfort. <BR>
      Topics include: daylighting simulations, thermal comfort, energy usage, EnergPlus fundamentals, Radiance.<BR>
      Spring 2017, Fall 2016.<BR>
      <BR>

      <b>IDS 6145: Research Practicum and Methods</b><BR>
      A project-based capstone course for M.S. students in Modeling and Simulation Graduate Program. <BR>
      Topics include: research methods, research design, modeling and simulation approaches, and research ethics.<BR>
      Fall 2020, Fall 2019, Fall 2018.<BR>
      <BR>

      <b>Advanced Topics Primer</b><BR>
      An interdisciplinary primer to aid students in fundamentals of math, programming and human subject research who come from different discplines. <BR>
      Topics include: Python Programming, Git, Linear Algebra, Differential Equations.<BR>
      Ongoing - <a href="https://webcourses.ucf.edu/courses/1249560"><b>Open Course Materials</b></a> - <i>Jointly developed with R. Paul Wiegand</i>.<BR>
      <BR>


     <h5><img src="assets/img/university/cornell.svg" height="50">&nbsp;&nbsp; <B><u>Courses taught at Cornell University</u></B></h5>
     I co-taught one class (with Don Greenberg!) on Virtual Reality while at Cornell.<BR><BR>
     
      <b>CS 4654: Design in Virtual Reality</b>(co-listed as an Architecture Studio)<BR>
      A hands-on, interdisciplinary perspective on basic principles and fundamentals of Virtual Reality and Augmented Reality. <BR>
      Topics include: designing VR environments, color science, perception, cognition, HCI, computer graphics, and AR/VR concepts.<BR>
      Spring 2016. - <a href="https://www.graphics.cornell.edu/academic/cs4654/"><b>Course Webpage</b></a>- <i>Co-Taught with Donald Greenberg</i>. <BR>
      <BR>


     <h5><img src="assets/img/university/penn.svg" height="50">&nbsp;&nbsp; <B><u>Courses taught at University of Pennsylvania</u></B></h5>
     I taught three classes during grad school at Penn. I was a Lecturer for the Department of Computer and Information Science (CIS) for the 2011-2012 school year teaching a full course load (4 courses). From 2008-2011, I served as a Part-time Lecturer for CIS teaching roughly 2-3 courses a year.
     In 2010, I was awarded <b>The Penn Prize for Excellence in Teaching by Graduate Students</b>.<BR><BR>
     
      <b>CIS 565: GPU Programming and Architecture</b><BR>
      This course examines the architecture and capabilities of modern GPUs (graphics processing unit). <BR>
      Topics include: CUDA, GLSL, WebGL, massively parallel algorithms, graphics pipeline, real-time rendering, 3D engine architecture.<BR>
      Fall 2011, Spring 2010, Summer 2009, <i>Spring 2008 Co-Taught with Gary Katz</i>. <BR>
      <BR>

      <b>CIS 563: Physically Based Animation</b><BR>
      Students are introduced to common numerical methods, physical models, and physically based modeling techniques.<BR>
      Topics include: Particle system dynamics, mass-spring system, PBD, fluid simulations, rigid bodies, character animation.<BR>
      Spring 2012, Spring 2011. <BR>
      <BR>


      <b>CIS 497: Senior Capstone Design Project</b><BR>
      The senior capstone design project provides an opportunity to define, design, and execute a project of the student's own choosing.<BR>
      Topics include: Research Methods, Research Design, and ethics.<BR>
      Spring 2012, Fall 2011, Spring 2011, Spring 2010, <i>Spring 2009 Co-Taught with Norm Badler</i>. <BR>
      <BR>




       <hr style="color:#DDD; background-color:#DDD; height:4px; border:none;">
       <br>
       
       <h4><img src="assets/img/university/ucf.svg" height="50">&nbsp;[Research Group]&nbsp;<img src="assets/img/university/sdl.png" height="50"></h4>
       <a href="https://sdl.eecs.ucf.edu/team/"><b>Full SENSEable Design Lab Team</b></a>
       <ul>
         <li><b>Joseph T. Kider Jr.</b> - Assistant Professor; (co-Director)</li>
         <li><b>Lori C. Walters</b> - Research Associate Professor; (co-Director)</li>
         <li><b>Robert A. Michlowitz</b> - Post Doctoral Scholar; (advised by Lori Walters)</li>
         <BR>
         [<i>Students supervised</i>]<BR>
         <li><b>Joseph Del Rocco</b> - PhD Student (Computer Science)</li>
         <li><b>Lauren Doocy</b> - PhD Student (Modeling & Simulation) - co-advised with Dr. R. Paul Wiegand</li>
         <li><b>Joshua Haley</b> - PhD Student (Modeling & Simulation)</li>
         <li><b>Michael Sterkel</b> - PhD Student (Modeling & Simulation)</li>
         <li><b>Larry Moralez</b> - PhD Student (Modeling & Simulation)</li>
         <li><b>John Sermarini</b> - PhD Student (Modeling & Simulation)</li>
         <li><b>Arash Zarmehr</b> - PhD Student (Modeling & Simulation)</li>
         <BR>
         <li><b>Joshua DeSantiago</b> - Master's Student (Modeling & Simulation)</li>
         <li><b>Jeralyn Parchman</b> - Master's Student (Modeling & Simulation)</li>
         <BR>
         <li><b>Donna Liu</b> - Undergraduate Researcher (NSF REU)</li>
         <li><b>Nathan Moulton</b> - Undergraduate Researcher</li>
         <li><b>Evans Asuboah</b> - Undergraduate Researcher (Stetson University advised by Joseph Del Rocco)</li>
       </ul>


      </div>
     </div>
  </div>
</section>
