---
layout: page
---

    <div class="container" id="main">
        <div class="row">

        {% include socialicons.html %}

            <div class="col-xs-12 col-sm-12 col-md-12 mx-auto">
            <h1> Contact Me </h1>
                <br>
            </div>
        </div>

        <div class="row">
            <div class="col-xs-12 col-sm-12 col-md-7 mx-auto">
            <p class="custom_about"> I am an Assistant Professor at the <a href="http://www.ist.ucf.edu/">Institute for Simulation and Training</a>(IST) at the <a href="http://www.ucf.edu/">University of Central Florida </a> in Orlando, Florida. <a href="http://www.ist.ucf.edu/">IST</a> is located in the <a href="https://map.ucf.edu/locations/8119/partnership-ii-p2/">Partnership II</a> building in Research Park.
            </p>
                <p class="custom_about">
                Before you stop by check my: <a href="http://goo.gl/Qjl7Dv">Google Calendar</a>.
                </p>

                        <p class="custom_about"><b><u>Office:</u></b><BR>
                        <a href="https://www.google.com/maps/dir/''/3100+Technology+Pkwy,+Orlando,+FL+32826/@28.5918365,-81.1962763,15.38z/data=!4m8!4m7!1m0!1m5!1m1!1s0x88e76864c37a7ded:0xae92816652695e93!2m2!1d-81.1993166!2d28.5858295">Partnership II</a> - Room: 140
                        <BR>
                        <BR>
                        <b><u>Electronic:</u></b>
                        <ul>
                            <li><span>Email :</span> <a>jkider (at) ist.ucf.edu</a></li>
                            <li><span>Email :</span> <a>Joseph.Kider (at) ucf.edu</a></li>
                            <li><span>Phone :</span> <a>(407) 882-1353</a></li>
                        </ul>                
                        <BR>                        
                        <b><u>Surface Snail Mail:</u></b><BR>
                        &nbsp;&nbsp;Dr. Joseph T. Kider Jr.<BR>
                        &nbsp;&nbsp;3100 Technology Pkwy<BR>
                        &nbsp;&nbsp;Institute For Simulation & Training<BR>
                        &nbsp;&nbsp;Office: 140<BR>
                        &nbsp;&nbsp;Orlando, FL 32826

                        </p>


            </div>


            <div class="col-xs-12 col-sm-12 col-md-5 news custom_about">
<img src="../imgs/me/contact.jpg" width="100%">                        <BR><BR>
            </div>


        </div>



    </div>