---
layout: default
---

<!-- About Section Start -->
<section id="about-top Research" class="section-padding">
  <div class="container">
  {% include socialicons.html %}

<div class="row about-profile">
<h2>Students</h2>


<div class="col-xs-12 col-sm-12 col-md-12">


       <b>Ph.D. Students</b>  <BR>
       <ul>
         <li><b>&#183;Emily Port</b> - PhD Student (Clemson - School of Computing)</li>
         <li><b>&#183;Joshua Haley</b> - PhD Student (UCF - Modeling & Simulation)</li>
      </ul><BR>
</div>


<div class="col-xs-12 col-sm-12 col-md-6">
  <img class="img-fluid" src="{{ "/assets/img/gallery/lab1.jpg" | relative_url }}" alt=""><BR><BR>
</div>

<div class="col-xs-12 col-sm-12 col-md-6">
  <img class="img-fluid" src="{{ "/assets/img/gallery/lab2.jpg" | relative_url }}" alt=""><BR><BR>
</div>

<div class="col-xs-12 col-sm-12 col-md-6">
  <img class="img-fluid" src="{{ "/assets/img/gallery/lab3.jpg" | relative_url }}" alt=""><BR><BR>
</div>

<div class="col-xs-12 col-sm-12 col-md-6">
  <img class="img-fluid" src="{{ "/assets/img/gallery/lab4.png" | relative_url }}" alt=""><BR>
</div>



<div class="col-xs-12 col-sm-12 col-md-12">
       <BR><b>Ph.D. Students [Graduated</b>]<BR>
       <ul>

         <li><b>&#183;Michael Sterkel</b> - PhD Student (Modeling & Simulation) [<b>Graduated  2024</b>]
          Ph.D. Dissertation: <b>Exploration Of Augmenting Tower-based Rf Equipment Visual Inspections With Infrared Cameras</b></li>

         <li><b>&#183;John Sermarini</b> - PhD Student (Modeling & Simulation) [<b>Graduated  2024</b>]
          Ph.D. Dissertation: <b>Exploring The Benefits Of The Integration Of Xr And Bim For Retrofitting Projects</b></li>

         <li><b>&#183;Lauren Doocy</b> - PhD Student (Modeling & Simulation) [<b>Graduated 2023</b>]
          Ph.D. Dissertation: <a href="https://stars.library.ucf.edu/etd2020/1883/"><b>A Spatial Perspective on Urban Accessibility: Defining Continuous Urban Road Networks, Improving Urban Measurement Methodology, and a Graph-theoretic Approach to Food Access</b></a></li>

         <li><b>&#183;Arash Zarmehr</b> - PhD Student (Modeling & Simulation) [<b>Graduated 2023</b>]
          Ph.D. Dissertation: <a href="https://stars.library.ucf.edu/etd2020/1702/"><b>Design And Simulation Analysis of a BIPV (Building Integrated With PV) Air-Duct System for Residential High-Performance Development</b></a></li>


         <li><b>&#183;Joseph Del Rocco</b> - PhD Student (Computer Science) [<b>Graduated 2021</b>]
          Ph.D. Dissertation: <a href="https://stars.library.ucf.edu/etd2020/851/"><b>Directional Spectral Solar Energy for Building Performance: From Simulation to Cyber-physical Prototype</b></a></li>
          </ul>

<BR><b>Master's Students [Graduated</b>]<BR>
       <ul>
        <li><b>&#183;Joshua DeSantiago</b> - Master's Student (Modeling & Simulation) [<b>Graduated Summer 2022</b>]
          Master's Thesis: <a href="https://stars.library.ucf.edu/etd2020/1192/"><b>An Exploratory Assessment Of Small Group Performance Leveraging Motion Dynamics With Optical Flow</b></a></li>
        <li><b>&#183;Arash Zarmehr</b> - Master's Student (Modeling & Simulation) [<b>Graduated Summer 2019</b>]
          Master's Thesis: <a href="https://stars.library.ucf.edu/etd/6861/"><b>Simulation Analysis of a Ventilated Building Integrated Photovoltaic Air-Gap Duct System For Natural Ventilation of a Building</b></a></li>
      </ul>


</div>


<div class="row">
<div class="col-xs-12 col-sm-12 col-md-12">
<hr style="color:#DDD; background-color:#DDD; height:2px; border:none;">
  <BR><h3><b>Publications</b></h3>




            {% for item in site.data.publications reversed %}

            {% if item.link == "" %}
               <b>{{ item.title }}</b><br>
            {% else %}
               <b><a href="{{item.link}}">{{ item.title }}</a></b><br>
            {% endif %}
            {{ item.authors }}<br>
            {{ item.conference }}, {{ item.year }} <br>
            <br>

            {% endfor %}


          </div>
        </div>



</div>
</div> 

</section>