---
layout: default
---

<!-- About Section Start -->
<section id="about-top" class="section-padding">
<div class="container">
{% include socialicons.html %}

<div class="row about-profile">


<div class="col-xs-12 col-sm-12 col-md-12">
<h3><img src="{{ "/assets/img/university/Paw_RGB__Orange.png"| relative_url }}" height="50">&nbsp;&nbsp; Clemson University</h3>
I am currently teaching two classes this academic year at Clemson.<BR><BR>

<b>DPA 4010/6010: Technical Foundations II</b><BR>
The mathematical and algorithmic foundations of computer graphics. Covers spatial data structures, object oriented programming in C++, mathematics for graphics, and 3-D graphics APIs. Topics included: executing Python and C++ code with external APIs; Maya and Houdini scripting and plug-in development, OpenGL/Vulkan, and other production skills.<BR>
Spring 2025.<BR>
<BR>

<b>CPSC-4820/6820: Special Topics: Real-Time Simulation Modeling for Digital Twins</b><BR>
Dives into the enabling technologies and trends that are driving the rapid adoption of Digital Twins across various industries. Topics included: physical-based, data-driven, and hybrid Digital Twins, real-time data types, analytics, modeling, simulation, and visualization.<BR>
Fall 2024.<BR>
<BR>

<hr style="color:#DDD; background-color:#DDD; height:2px; border:none;">
<br>
</div>

<div class="col-xs-12 col-sm-12 col-md-12">
<h3><img src="{{ "/assets/img/university/ucf.svg"| relative_url }}" height="50">&nbsp;&nbsp; University of Central Florida</h3>
I have taught 5 different classes at UCF, developing 3 courses. I have been awarded a UCF <a href="https://facultyexcellence.ucf.edu/award/teaching-incentive-program/"><b>Teaching Incentive Program Award (TIP)</b></a> and UCF College of Graduate Studies <a href="https://facultyexcellence.ucf.edu/award/excellence-in-graduate-teaching/"><b>Excellence in Graduate Teaching Award</b></a> for my teaching productivity and excellence in graduate teaching.<BR><BR>
     
      <b>IDC6700 - Interdisciplinary Approach to Data Visualization</b><BR>
      A hands-on, interdisciplinary perspective on basic principles and fundamentals of visualizing statistical information. Topics include: effective visualizations, perception, representation, and general principles.<BR>
      Spring 2024, Spring 2023, Spring 2022, Summer 2021.<BR>
      <BR>

      <b>IDS 6145: Simulation Techniques</b> (<i>New Developed Course</i>)<BR>
      SIMTECH provides a broad survey of fundamental techniques for three different categories of simulation. Topics include: effective modeling, and designing discrete-event, continuous-based, and agent-based simulations.<BR>
      Fall 2023, Fall 2022, Fall 2021, Fall 2020, Fall 2019, Fall 2018, Spring 2018, Spring 2017.<BR>
      <BR>

      <b>IDS 6938: Mixed Reality for Modeling and Simulation (Special Topics Seminar)</b> (<i>New Developed Course</i>) A hands-on, interdisciplinary perspective on basic principles and fundamentals of Virtual Reality and Augmented Reality. Topics include: color science, perception, cognition, HCI, computer graphics, and AR/VR concepts.<BR>
      Spring 2020, Spring 2019.<BR>
      <BR>

      <b>IDS 6938: Building Performance Simulation (Special Topics Seminar)</b> (<i>New Developed Course</i>) Basic and advanced building performance simulation methods and their underlying principles that impact energy, thermal, and visual comfort. Topics include: daylighting simulations, thermal comfort, energy usage, EnergPlus fundamentals, and Radiance.<BR>
      Spring 2017, Fall 2016.<BR>
      <BR>

      <b>IDS 6145: Research Practicum and Methods</b><BR>
      A project-based capstone course for M.S. students in the Modeling and Simulation Graduate Program. Topics include: research methods, research design, modeling and simulation approaches, and research ethics.<BR>
      Spring 2023, Fall 2020, Fall 2019, Fall 2018.<BR>
      <BR>

      <b>Advanced Topics Primer</b> (<i>Offline Supplementary Resource</i>)<BR>
      An interdisciplinary primer to aid students in fundamentals of math, programming, and human subject research who come from different disciplines. Topics include: Python Programming, Git, Linear Algebra, and Differential Equations.<BR>
      Ongoing - <a href="https://webcourses.ucf.edu/courses/1249560"><b>Open Course Materials</b></a> - <i>Jointly developed with R. Paul Wiegand</i>.<BR>

</div>

<div class="col-xs-12 col-sm-12 col-md-12">
  <BR><b>Student Work</b>
</div>

      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/6N_8TkX_1xg" allowfullscreen></iframe>
        </div>
        <div class="captions">Credit: Rebecca Leis<BR><BR></div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/zayH4KmUitM" allowfullscreen></iframe>
        </div>
        <div class="captions">Credit: Devyn Dodge<BR><BR></div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/Ihuxfi6v-Pc" allowfullscreen></iframe>
        </div>
        <div class="captions">Credit: Charles Timm<BR><BR></div>
      </div>


<div class="col-xs-12 col-sm-12 col-md-12">
<hr style="color:#DDD; background-color:#DDD; height:2px; border:none;">
<br>
</div>










<div class="col-xs-12 col-sm-12 col-md-12">
<h3><img src="{{ "/assets/img/university/cornell.svg"| relative_url }}" height="50">&nbsp;&nbsp; Cornell University</h3>
I co-taught one class (with Don Greenberg) on Virtual Reality while at Cornell.<BR><BR>
     
<b>CS 4654: Design in Virtual Reality</b>(co-listed as an Architecture Studio)<BR>
A hands-on, interdisciplinary perspective on basic principles and fundamentals of Virtual Reality and Augmented Reality. Topics included: designing VR environments, color science, perception, cognition, HCI, computer graphics, and AR/VR concepts.<BR>
Spring 2016. - <a href="https://www.graphics.cornell.edu/academic/cs4654/"><b>Course Webpage</b></a>- <i>Co-Taught with Donald Greenberg</i>. <BR>
<hr style="color:#DDD; background-color:#DDD; height:2px; border:none;">
<br>
</div>

<div class="col-xs-12 col-sm-12 col-md-12">

<h3><img src="{{ "/assets/img/university/penn.svg"| relative_url }}" height="50">&nbsp;&nbsp; University of Pennsylvania</h3>
     I taught three classes during grad school at Penn. I was a Lecturer for the Department of Computer and Information Science (CIS) for the 2011-2012 school year teaching a full course load (4 courses). From 2008-2011, I served as a Part-time Lecturer for CIS teaching roughly 2-3 courses a year.
     In 2010, I was awarded <b>The Penn Prize for Excellence in Teaching by Graduate Students</b>.<BR><BR>
     
      <b>CIS 565: GPU Programming and Architecture</b><BR>
      This course examines the architecture and capabilities of modern GPUs (graphics processing unit). <BR>
      Topics include: CUDA, GLSL, WebGL, massively parallel algorithms, graphics pipeline, real-time rendering, 3D engine architecture.<BR>
      Fall 2011, Spring 2010, Summer 2009, <i>Spring 2008 Co-Taught with Gary Katz</i>. <BR>
      <BR>

      <b>CIS 563: Physically Based Animation</b><BR>
      Students are introduced to common numerical methods, physical models, and physically based modeling techniques.<BR>
      Topics include: Particle system dynamics, mass-spring system, PBD, fluid simulations, rigid bodies, character animation.<BR>
      Spring 2012, Spring 2011. <BR>
      <BR>


      <b>CIS 497: Senior Capstone Design Project</b><BR>
      The senior capstone design project provides an opportunity to define, design, and execute a project of the student's own choosing.<BR>
      Topics include: Research Methods, Research Design, and ethics.<BR>
      Spring 2012, Fall 2011, Spring 2011, Spring 2010, <i>Spring 2009 Co-Taught with Norm Badler</i>. <BR>
      <BR>

</div>

<div class="col-xs-12 col-sm-12 col-md-12">
  <b>Student Work</b>
</div>

      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="embed-responsive embed-responsive-16by9">
            <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/wDBJKGMGSFo" allowfullscreen></iframe>
        </div>
        <div class="captions">Credit: Peter Kutz<BR><BR></div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/uZmLP1f8UiM" allowfullscreen></iframe>
        </div>
        <div class="captions">Credit: Daniel Knowlton<BR><BR></div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/ARwPVMD8t3I" allowfullscreen></iframe>
        </div>
        <div class="captions">Credit: Karl Li<BR><BR></div>
      </div>


      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/AapFOB4K90E" allowfullscreen></iframe>
        </div>
        <div class="captions">Credit: Daniel Garcia<BR><BR></div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/CrUx4FWpmzM" allowfullscreen></iframe>
        </div>
        <div class="captions">Credit: Alice Yang<BR><BR></div>
      </div>
      <div class="col-xs-12 col-sm-12 col-md-4">
        <div class="embed-responsive embed-responsive-16by9">
          <iframe class="embed-responsive-item" src="https://www.youtube.com/embed/_c3ozg_iJCc" allowfullscreen></iframe>
        </div>
      <div class="captions">Credit: Joseph Forzano<BR><BR></div>
    </div>


</div>
</div> 
</section>